
@import "@fontsource/fredoka/index.css";
@import "@fontsource/dynapuff/index.css";

html,
body {
  margin: 0;
  padding: 0;
}

body {
  background: #111;
}

#thumbnail-root {
  user-select: none;
  -webkit-font-smoothing: antialiased;
}

#thumbnail-root,
#thumbnail-root * {
  box-sizing: border-box;
}

[data-render-ready] *,
#thumbnail-root * {
  transition: none !important;
  animation: none !important;
}
